<h3>ErgometriX &mdash; Confirmation de votre inscription</h3>

<p>Nous avons bien pris en compte l'inscription de votre bateau <strong>{{ boatName }}</strong>.<br />
Celle-ci sera validée une fois que nous aurons reçu les documents et le chèque d'inscription (pour le détail, consultez la page <a href="http://www.ergometrix.fr/#/infos-pratiques" title="Site ErgometriX">Infos pratiques</a> du site).<br />
Vous recevrez alors un autre mail indiquant que nous avons bien reçu votre paiement.</p>
<p>Vous pouvez suivre l'avancement du dossier dans l'onglet <a href="http://www.ergometrix.fr/#/my-boats" title="Suivre mes bateaux">Mes bateaux</a>.</p>
<br />
À bientôt !
<br /><br />
<em>L'équipe d'ErgometriX 2014 !</em>