<h3>ErgometriX &mdash; Confirmation de votre paiement</h3>

<p>Nous avons bien reçu le paiement pour votre inscription à ErgometriX 2014 (bateau <em>{{ boatName }}</em>).</p>
<br />
Rendez-vous le 13 décembre 2014, à l'École polytechnique !
<br /><br />
<em>L'équipe d'ErgometriX 2014 !</em>